html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 10.5px;
  line-height: 10.5px;
}

form, ul{
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
} 

:root {
  --color_title: #080808;
  --color_title_rgb: 8, 8, 8;
  --color_body: #101010;
  --color_body_rgb: 16, 16, 16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64, 64, 64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96, 96, 96;
  --color_caption3: #555558;
  --color_caption3_rgb: 85, 85, 88;
  --color_search: #000;
  --color_search_rgb: 0, 0, 0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227, 229, 232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235, 235, 235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235, 235, 235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235, 235, 235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218, 220, 223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211, 213, 215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255, 255, 255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244, 246, 250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245, 247, 248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250, 251, 251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255, 255, 255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255, 255, 255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255, 255, 255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255, 255, 255;
  --color_news: #3a67ea;
  --color_news_rgb: 58, 103, 234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144, 154, 171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79, 103, 214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244, 54, 30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229, 56, 226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242, 241, 251;
  --color_sports: #1f65ef;
  --color_sports_rgb: 31, 101, 239;
  --color_sports_bg: #f4f7fe;
  --color_sports_bg_rgb: 244, 247, 254;
  --color_econ: #008f76;
  --color_econ_rgb: 0, 143, 118;
  --color_calendar: #eb5b5b;
  --color_calendar_rgb: 235, 91, 91;
  --color_dic: #031f5f;
  --color_dic_rgb: 3, 31, 95;
  --color_shop: #9858f5;
  --color_shop_rgb: 152, 88, 245;
}

#wrap {
  text-align: center;
}

#wrap-center {
  display: inline-block;
  width: 1280px;
  height: 267px;
}

#header {
  position: relative;
  text-align: left;
  height: 64px;
}

#header-hamburger,
#header-naverpay,
#header-talk,
#header-notice {
  position: absolute;
  top: 18px;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 0;
  cursor: pointer;
}

#header-hamburger:hover::before,
#header-naverpay:hover::before,
#header-talk:hover::before,
#header-notice:hover::before {
  position: absolute;
  content: "";
  background-color: var(--color_option_bg);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  z-index: -1;
}

#header-hamburger > div,
#header-naverpay > div,
#header-talk > div,
#header-notice > div {
  background-image: url(./img/sp_main.png);
  background-repeat: no-repeat;
  background-size: 444px 434px;
  width: 26px;
  height: 26px;
}

#header-hamburger {
  left: -10px;
  padding: 10px;
}

#header-hamburger > div {
  background-position: -314px -330px;
}

#header-hamburger:hover > div {
  position: relative;
  top: 3px;
  left: 1px;
}

#header-hamburger:hover::before {
  left: 2px;
  right: 1px;
  top: 4px;
}

#header-naverpay {
  padding: 7px;
  left: 43px;
}

#header-naverpay:hover > div {
  position: relative;
}

#header-naverpay > div {
  width: 32px;
  height: 32px;
  background-position: -295px -177px;
}

#header-naverpay:hover::before {
  left: 2px;
  top: 2px;
}

.blind {
  display: none;
}

#header-talk {
  right: 40px;
  width: 44px;
  height: 44px;
  padding: 10px;
}

#header-talk > div {
  background-position: -364px -81px;
}

#header-talk:hover > div {
  position: relative;
}

#header-talk:hover::before {
  top: 1px;
  left: 1px;
}

#header-notice {
  right: -10px;
  width: 46px;
  padding: 10px;
}

#header-notice > div {
  background-position: -364px -27px;
}

#header-notice:hover > div {
  position: relative;
}

#header-notice:hover::before {
  top: 1px;
  left: 1px;
}

#search > form {
  display: inline-flex;
  width: 706px;
  height: 60px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  text-align: left;
}

#search > form:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
}

#search-svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 58px;
  padding: 17px 16px 17px 27px;
  margin-right: 12px;
}
/* 
#search > form a {
  display: inline-block;
  width: 68px;
  height: 58px;
  padding: 17px;
  margin-right: 12px;
} */

#search-svg svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}

#search-input {
  width: 480px;
  height: 58px;
  padding: 17px 0px;
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
  border: none;
  outline: none;
}

#search-input::placeholder{
  color: white;
}

#search-input:focus::placeholder{
  color: #e4e4e4;
}

#search-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

#search-keyboard, #search-recent, #search-button{
  background: transparent;
  border: none;
  cursor: pointer;
}

#search-keyboard::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
  background-size: 444px 434px;
  background-position: -270px -234px;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

#search-keyboard:hover::before{
  filter: brightness(0.7);
}

#search-recent::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
  background-size: 444px 434px;
  background-position: -102px -272px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}

#search-button{
  padding: 17px 27px 16px 10px;
}

#search-button > div {
  background: #03c75a;
  width: 25px;
  height: 25px;
}

#search-button > div::before {
  content: "";
  display: inline-block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.30918f90.png);
  background-size: 422px 405px;
  background-position: -364px -106px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
